<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%
form_attributes = if page.resource.persisted?
  {
    url: admin_beneficiary_path(page.resource.id),
    method: :patch,
  }
else
  {
    url: admin_beneficiaries_path,
    method: :post,
  }
end
%>
<%= form_for(page.resource, url: form_attributes[:url], method: form_attributes[:method], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <% if current_user.shop? %>
      <% next unless %i[gender telephone address].include?(attribute.attribute) %>
    <% end %>
    <% next if !current_user.shop? && !current_user.administrator? %>
    <% if current_user.provider? %>
      <% next if [:provider, :is_active].include?(attribute.attribute) %>
      <% if attribute.attribute == :max_shop_count %>
        <div class="field-unit__label">
          <%= f.label attribute.attribute %>
        </div>
        <div class="field-unit__field">
          <%= render locals: { field: attribute }, partial: "/fields/#{attribute.class.to_s.demodulize.underscore}/show" %>
        </div>
        <% next %>
      <% end %>
    <% end %>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit 'Crea' %>
  </div>
<% end %>
