<%= link_to 'Dettaglio', admin_beneficiary_path(object) %>
<dl>
  <dt><%= t("helpers.label.beneficiary.city") %></dt>
  <dd><%= link_to object.city.name, admin_city_path(object.city) %></dd>

  <% %w[full_name address gender telephone family_size max_shop_count].each do |attribute| %>
    <dt><%= t("helpers.label.beneficiary.#{attribute}") %></dt>
    <dd><%= object.send(attribute) %></dd>
  <% end %>

  <dt><%= t("helpers.label.beneficiary.frequency") %></dt>
  <dd><%= t("enums.#{object.frequency}") %></dd>

  <dt><%= t('helpers.label.beneficiary.shoppings') %></dt>
  <dd>
    <% if object.shoppings.any? %>
      <table>
        <thead>
          <tr>
            <th># Oggetti</th>
            <th>Totale</th>
            <th>Creata il</th>
          </tr>
        </thead>
        <tbody>
          <% object.shoppings.each do |shopping| %>
            <tr>
              <td><%= shopping.items.count %></td>
              <td><%= shopping.total %></td>
              <td><%= shopping.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      -
    <% end %>
  </dd>
</dl>
