<%= link_to "Scheda di #{object.full_name}", admin_beneficiary_path(object) %>

<% registry_attributes = %w[address gender telephone family_size] %>
<% shops_attributes = %w[point_rank assigned_shopping_points shopping_points] %>

<table>
  <thead>
    <tr>
      <th><%= t("helpers.label.beneficiary.city") %></th>
      <% registry_attributes.each do |attribute| %>
        <th>
          <%= t("helpers.label.beneficiary.#{attribute}") %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to object.city.name, admin_city_path(object.city) %></td>
      <% registry_attributes.each do |attribute| %>
        <td>
          <%= object.send(attribute) %>
        </td>
      <% end %>
    </tr>
  </tbody>

  <thead>
    <tr>
      <% shops_attributes.each do |attribute| %>
        <th>
          <%= t("helpers.label.beneficiary.#{attribute}") %>
        </th>
      <% end %>
      <th><%= t("helpers.label.beneficiary.frequency") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% shops_attributes.each do |attribute| %>
        <td>
          <%= object.send(attribute) %>
        </td>
      <% end %>
      <td>
        <%= t("enums.#{object.frequency}") %>
      </td>
    </tr>
  </tbody>
</table>

<h2><%= t('helpers.label.beneficiary.shoppings') %></h2>
<% if object.shoppings.any? %>
  <table>
    <thead>
      <tr>
        <th># Oggetti</th>
        <th>Totale</th>
        <th>Creata il</th>
      </tr>
    </thead>
    <tbody>
      <% object.shoppings.each do |shopping| %>
        <% cart = CartForm.new(shopping_id: shopping.id) %>
        <tr>
          <td><%= cart.items_count %></td>
          <td><%= cart.price %></td>
          <td><%= shopping.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  -
<% end %>
