<section class="main-content__body" data-cart data-price="<%= @form.price %>" data-quantity="<%= @form.quantity %>" data-items-count="<%= @form.items_count %>" data-shopping-id="<%= @form.shopping.id %>">
  <a data-toggle data-target="data-beneficiary-info" class="pointer">Informazioni beneficiario: <%= @form.shopping.beneficiary.full_name %></a>
  <div class="dn" data-beneficiary-info>
    <%= render partial: 'admin/beneficiaries/info', locals: { object: @form.beneficiary } %>
  </div>

  <h1>Spesa corrente</h1>
  <table>
    <thead>
      <tr>
        <th>Prodotti</th>
        <th>Totale unità</th>
        <th>Importo totale</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-cart-items-count-view><%= @form.items_count %></td>
        <td data-cart-quantity-view><%= @form.quantity %></td>
        <td data-cart-price-view><%= @form.price %></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Quantità</th>
        <th>Totale</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @form.shopping.items.each do |item| %>
        <tr>
          <td><%= item.category_name %></td>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.price %></td>
          <td>
            <%= link_to(
              'Rimuovi',
              admin_shopping_item_path(
                item.id,
                back_path: cart_admin_shopping_shopping_items_path(@form.shopping.id)
              ),
              method: :delete,
              data: {
                confirm: 'Sei sicuro?',
                disable_with: 'In rimozione..',
            }) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <section class="form-fragment center w-50 tc">
    <%= label_tag :category, 'Categoria' %>
    <%= select_tag(
      :category,
      options_from_collection_for_select(ItemCategory.ordered, 'id', 'name'),
      class: '',
      data: {
        cart_category_input: true
      },
      include_blank: true
    ) %>
  </section>

  <div data-cart-items-container>
  </div>

  <section class="form-fragment center w-50 tc">
    <button data-cart-submit-input type="submit">Aggiungi</button>
  </section>
</section>
