Ente inviante: <%= @beneficiary.provider.name %><br />
Beneficiario: <%= @beneficiary.full_name %><br />
<h2>Soglia massima di spesa</h2>
Attuale: <%= @beneficiary.max_shop_count %>
Nuove spese in aggiunta proposte dall'ente inviante: <%= @beneficiary.proposed_max_shop_count %>
Nuovo valore di max spese (se variazione confermata): <%= @beneficiary.max_shop_count + @beneficiary.proposed_max_shop_count %>
<%= confirmation_max_shop_count_admin_beneficiary_url(@beneficiary.id) %>
